footer { font-size: 90%; }
/* darkmode */
@media (prefer-color-scheme: dark) {
}

header {
	background: #000000;
	
}

header a {
	color: #F9CE08;
}

body {
	background-image: url("https://i.postimg.cc/QxwdrmNp/TnLEOCqj.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
